/*-----------------------------------------------------------------------------------

    Template Name: Appro HTML5 Template,
    Template URI: http://appro.intimissibd.com
    Description: This is html5 template
    Author: ThemeCTG
    Author URI: http://themectg.com
    Version: 1.0

-----------------------------------------------------------------------------------

    CSS INDEX
    ===================
    1. Google font
	2. Theme Default CSS (body, link color, section etc)
-----------------------------------------------------------------------------------*/


/*-----------------
1. Google font
------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

/*-------------------
2. Theme Default CSS
--------------------*/


.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

.fix {
    overflow: hidden;
}

a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #303030;
}

.btn.focus,
.btn:focus,
.btn:hover,
input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-weight: 600;
}

h1 {
    font-size: 40px;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    color: #2fccd0;
}

html,
    /*
    body {
        height: 100%
    }
    */

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #606060;
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

#maps {
    width: 100%;
    height: 500px;
}


.appointmentDivClass{

    width:80%;
    margin:0px auto;
    overflow: hidden;
    min-width: 400px;
    cursor: default;
}

#appointmentEndTimeAmend:hover{

}

.appointmentDivImg{

    width:45%;
    float:left;
    margin:0px auto;
}

.appointmentDivContent{

    width:45%;
    height: auto;
    float:left;
    min-width: 400px;
    margin:3% auto;
}

.appointmentButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    min-width: 8em !important;
    max-width: 8em !important;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #FFCC33;
    min-width: 8em !important;
    max-width: 8em !important;
}

.button2:hover {
    background-color: #FFCC33;
    color: white;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
    min-width: 8em !important;
    max-width: 8em !important;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #FFCC33;
    min-width: 8em !important;
    max-width: 8em !important;
}

.button4:hover {
    background-color: #FFCC33;
    color: white;
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
    min-width: 8em !important;
    max-width: 8em !important;
}

.button5:hover {
    background-color: #f44336;
    color: white;
}

.button6 {
    background-color: white;
    color: black;
    border: 2px solid #0b72a5;
    min-width: 8em !important;
    max-width: 8em !important;
}

.button6:hover {
    background-color: #1193d4;
    color: white;
}

@media only screen and (max-width: 990px) {

    .appointmentDivImg{

        margin:0px auto;
        float:none;
        text-align: center;
    }

    .appointmentDivContent{

        width:45%;
        height: auto;
        min-width: 400px;
        margin:2% auto;
        float: none;
        text-align: center;
    }

}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    /*font-size: 100px !important;*/
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #1193d4;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    width:90%;
    margin:0px auto;
    text-align: center;

}


.modal-content h3, .modal-content h5{
    font-size: 120% !important;
}

.modal-content h2{
    font-size: 1.5em !important;
}


.modal-body .select-box{
    width:50%;
    min-width: 300px;
    margin:0px auto;
    text-align: center;

}

.modal-body input{
    width:50%;
    min-width: 300px;
    margin:0px auto;
    text-align: center;

}

.timePickerDivInput{

    width:50%;
    margin:0px auto;
    min-width: 300px;
}


.workingHoursTo{

    margin-left: 2%;
}
@media only screen and (max-width: 750px){
    .workingHoursFrom ,.workingHoursTo{

        min-width: 200px;
        float:none!important;
        margin:0 auto;
    }

}


.timePickerDivInput .timepicker_wrap{

    min-width: 270px!important;
}

.timePickerDivInput input{

    width:100%;
    min-width: 0%;

}
.modal-footer {
    padding: 2px 16px;
    background-color: #1193d4;
    color: white;
}

#map {
    width: 95%;
    height: 500px;
    margin: 0px auto
}

.field-long5{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
    height: 100px;


}


.locations{

    width:95%;
    overflow: auto;
    text-align: center;
}

.location{

    width:25%;
    float:left;
    margin: 2% 2% 2% 2%;
    border-style: solid;
    border-width:2px;
    border-radius: 5px;
    min-height: 390px;
    min-width: 250px;

}

.location img{

    padding: 2% 4% 2% 4%;
    border-radius: 15px;
    cursor: pointer;
}

.location h3{

    margin-top:2%;

}


#myModalNewLopcation input{

    width:30%;
}


.relationList{

    width:90%;
    margin:0px auto 0px auto;
    overflow: auto;
    text-align: center;
    padding: 1% 1% 1% 1%;

}


.relationUser{

    width:28%;
    margin:1% 1% 1% 1%;
    padding:1% 1% 1% 1%;
    float:left;
    min-width: 300px;
    min-height: 645px;
    border-style: solid;
    border-width:2px;
    border-radius: 5px;
    border-color: #1193d4;
}

.relationUser img{

    border-radius: 5px;
    width:100%;
}

.offlineRelationUser{

    width:28%;
    margin:1% 1% 1% 1%;
    padding:1% 1% 1% 1%;
    float:left;
    min-width: 300px;
    min-height: 645px;
    border-style: solid;
    border-width:2px;
    border-radius: 5px;
    border-color: #FF0000;
}

.offlineRelationUser img{

    border-radius: 5px;
    width:100%;

}

.relationUser .button1{

    width: 80% !important;
    max-width: 80% !important;
}



[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

.select-box {
    cursor: pointer;
    position : relative;
    width: 70%;
}

.select,
.label {
    color: #414141;
    display: block;
    font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 5px 0;
    height: 40px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background: none transparent;
    border: 0 none;
}
.select-box1 {
    background: #ececec;
}

.label {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
}
.open .label::after {
    content: "▲";
}
.label::after {
    content: "▼";
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 15px;
    border-left: 5px solid #fff;
}

.clientAppointmentList{

    width:85%;
    margin: 0 auto;
    overflow:auto;


}


.clientAppointmentObject{

    width:32%;
    text-align: center;
    float:left;
    border-style: double;
    border-width: 1px;
    margin: 1% 1% 0 0;
    padding:1% 1% 1% 1%;
    border-radius: 5px;
    min-width: 300px !important;
    font-size: 85%;


}

.registrationForm{

    width:100%;
    margin:5% auto;
    text-align: center;
}

.buttonAddClient {
    background-color: #1193d4;
    width:34%;
    min-width:115px;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.appointmentDashboardButton {
    background-color: #1193d4;
    width:30%;
    min-width:150px;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.appointmentDashboardButton:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 9px 25px 0 rgba(0,0,0,0.19);
}





.buttonAddClient2:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 9px 25px 0 rgba(0,0,0,0.19);
}


.notesAppointmentObject{

    width:80%;
    height:10%;
    margin:10% auto;
    overflow: hidden;
}

.notesAppointmentObject img{

    width:100%;
    padding: 1% 1% 1% 1%;
}

#notesAppointmentObjectImg{

    margin:0 auto;
    width:30%;
    min-width: 350px;
}

#notesAppointmentObjectText{

    margin:0 auto;
    width:50%;
    padding-top: 2%;
    text-align:center;
    font-size: 1.3em;
}

#notesAppointmentObjectText .buttonAddClient{

    width:60%;
}


@media only screen and (max-width: 750px){
    .relationUser{

        width:28%;
        margin:2% auto 0 auto !important;
        float: none;
        min-width: 300px;
    }

    .offlineRelationUser{

        width:28%;
        margin:2% auto 0 auto !important;
        float: none;
        min-width: 300px;
    }

    .clientAppointmentObject{

        float:none;
        margin: 1% auto;
    }

}

.appointmentNotes{

    width:80%;
    margin: 9% auto;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    max-height: 800px;
    overflow: auto;

}

.appointmentNotes textarea{
    min-width: 100%;
    max-width: 100%;
    margin:0 auto;
    max-height: 10em;
    min-height: 10em;
    border-radius: 15px;
    padding: 1% 1% 1% 1%;
}

#senderAppointmentNote{

    width:50%;
    clear:both;
    overflow: scroll;
    float:left;
    border: green solid 1px;
    margin:1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
    border-radius: 15px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}

#receiverAppointmentNote{

    width:50%;
    clear:both;
    float:right;
    overflow: scroll;
    border: #1193d4 solid 1px;
    margin:1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
    border-radius: 15px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}

@media only screen and (max-width: 450px){

    .appointmentNotes {

        margin: 15% auto;

    }
}




.redDot {
    /*height: 7px;*/
    width:13px;
    background-color: rgba(255,0,25,0.8);
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    /*text-align:*/
    /*padding: 0 0 0 4%;*/
}

.appointmentNotesTextAreaControl{

    width:80%;
    margin:0 auto;
    overflow: hidden;

}

.appointmentNotesTextAreaControl .button1{

    float:right;
    border-radius: 10px;

}


.newNotifications{

    margin:0 auto;
    width:50%;
}

.newNotification hr{

    width: 90%;
    margin:0 auto;
    heigh:3px;
}


.newNotification{

    border: rgba(0,0,0,0.2) solid thin;
    padding: 3% 3% 3% 3%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.newNotification:hover{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}


#myModalSwitchAccount button{

    min-width: 25%!important;
}


.editProfileButtonClass{
    margin-top: 5%;

}

.buttonEditProfile{

    min-width: 25%!important;

}



.pagesView{

    padding:1% 1% 1% 1%;
    border: black 1px solid;
    margin:1% 1% 0 1%;
    width: 20%;
    float:left;
    min-width: 200px;
    border-radius: 10px;
    min-height: 115px;
    max-height: 115px;
    text-align: center;
    background-image: url("../img/filePage.png");
    background-repeat: no-repeat;
    background-size: contain;


}


.newPageView{

    padding:1% 1% 1% 1%;
    border: black 1px solid;
    margin:1% 1% 0 1%;
    width: 20%;
    float:left;
    min-width: 200px;
    min-height: 115px;
    max-height: 115px;
    border-radius: 10px;
    text-align: center;




}

.newPageView img{

    float:left;

}

@media only screen and (max-width: 550px){

    .pagesView, .newPageView{

        margin: 1% auto;
        float:none;
    }
}

.pagesView h3, .newPageView h3{

    margin-left: 45%;
    padding: 2% 0 2% 0;

}


.clientFilePagesHeader{

    width:80%;clear:both;overflow: auto;margin:7% auto;
}


.clientFileHeader{

    clear:both;
    width:90%;
    margin:0 auto;
    padding-top: 5%;

}


.fileHeaderWithAttachment{
    width:95%;
    margin:0 auto;
}

#fileHeaderWithAttachmentText{
    width:50%;float:left;margin:0 auto;min-width: 300px;
}

#fileHeaderWithAttachmentButton{
    width:50%;float:right;text-align: center;min-width:300px;
}

.clientFileDataContainer{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);width:80%;margin:0 auto;overflow: auto
}

.templateFileAttachments{
    width:90%;
    margin: 0 auto;
    padding-bottom: 5%;
    overflow: hidden;
}

.templateFileAttachment {

    width: 20%;
    min-width: 200px;
    max-width: 200px;
    min-height: 150px;
    max-height: 150px;
    overflow: hidden;
    border-radius: 5px;
    margin: 1% 1% 0 0;
    text-align: center;
    border: grey solid 1px;
    float: none;
    display: inline-block;

}

.templateFileAttachment img{

    min-width: 200px;
    max-width: 200px;
    min-height: 150px;
    max-height: 150px;
    overflow: hidden;
    text-align: center;
    float: none;
    display: inline-block;


}

/*template responsive design*/


@media only screen and (max-width: 1370px){

    #ElementTeeth{

        /*beckground-color:red;*/
        /*border:blue solid 5px;*/
        height: 20%;


    }
}


@media only screen and (max-width: 1270px){

    #ElementTeeth{

        /*beckground-color:red;*/
        /*border:red solid 5px;*/
        height: 18%;


    }

    .elementNameTeeth{

        width:20%;
        min-width: 100px;
        float:left;
        padding-top:15%;
        height: 100%;
        border-right: rgba(0,0,0,0.2) solid 1px;
        text-align: center;
        font-weight: bold ;
    }
}

@media only screen and (max-width: 1025px){

    .clientFileDataContainer{

        width:95%!important;
        overflow-x: hidden;
    }
    #fileHeaderWithAttachmentButton{
        min-width: 100%;
        float:none;
        margin:0 auto;
    }

    #fileHeaderWithAttachmentText{
        min-width: 100%;
        float:none;
        margin:0 auto;
        font-size: 2.5vw !important;
    }

    #clientFileNotes, textarea{

        width:97% !important;
        max-width: 97%!important;

    }

    .templateFileAttachment{

        min-width:110px;
        max-width:110px;
        min-height:110px;
        max-height:110px;
        float: none;
        display: inline-block;
        text-align: center !important;
        margin: 0 1% 1% 0;
    }

    .templateFileAttachments{
        width:90%;
        margin: auto;
        padding-bottom: 5%;
        text-align: center !important;
        float:none;
    }

    .elementGeneralBoxValue{
        float:none;
        margin-top:6%;
        width:100%;
        padding:2% 1% 1% 1%;
    }


    .elementGeneralBoxValue span{
        width:35%;
        float:left;
        font-size: 80%;
    }

    .elementGeneralBoxValue input{
        width:65%;
        float:left;
    }

    #ElementCheckBox{

        border:rgba(0,0,0,0.2) solid 1px;
        border-radius: 5px;
        height: 60px;
        margin:0 auto;
        width: 100%;
        overflow: hidden;
        display: inline-block;
        float:none;
    }


    #ElementCheckBox .elementValue {
        padding: 3% 0 0 8%;
        text-align: center;
        display: inline-block;
    }

    #ElementCheckBox .elementName {
        padding: 3% 5% 0 5%;
        min-width: 120px;
        overflow: hidden;
        font-size: 80%;
        display: inline-block;

    }

    .elementNameTeeth{


        width:75px !important;
        float:left;
        height: 50px !important;
        min-width: 0px;
        min-height: 0px;
        padding: 0 0 0 7em;
        max-width: 150px;
        max-height: 180px;
        font-size: 80%;
        border-right:none;
        font-weight: bold ;
        transform: rotate(90deg);

    }


    #ElementTeeth{

        width:100%;
        min-width: 25em !important;
        max-width: 100%;
        height:100px !important;
        min-height: 180px;
        float:none;
        margin: auto;
        display: inline-block;
        overflow-y: hidden;


    }

    .elementNameTeethContainer{
        overflow: hidden;
        height:11em;
        min-width:0em;
        max-width:25em;
        width:75%;
        float:right;
    }



}

.fileHeaderWithAttachment button{

    margin:6% auto;
    min-width: 150px;
    max-width: 250px;
    float:right;
}


.settingsLeftTab{
    text-align: center;
    padding:2% 0 2% 0;
    width:20%;
    float:left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}

.settingsLeftTab button{
    margin-top:5%;

}

.settingsRightTab {
    text-align: center;
    min-height: 30em;
    max-height: 30em;
    overflow: auto;
    padding:2% 0 2% 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    width: 70%;
    float: left;
    margin-left: 5%;
    font-size: 1vw;

}


.settingsRightTab p{
    margin:auto;
    width: 70%;

}

.settingsRightTab button, .settingsPremium button{
    min-width:30% !important;
}

.settingsButtonClass{
    background: none;
    border:none;
    clear:both;
    width:100%;

}

.settingsButtonClass:hover{

    border-top: rgba(0,0,0,0.2) solid 1px;
    border-bottom: rgba(0,0,0,0.2) solid 1px;
    width:80%;
    border-radius: 5px;

}

.settingsClientControlDiv{

    font-size: 0.8vw;
    min-width: 380px;
    max-width: 380px;
    width:48%;
    border: rgba(0,0,0,0.2) solid 1px;
    float:left;
    margin: 1% 1% 1% 1%;

}
.settingsFileControlDiv{

    font-size: 0.8vw;
    min-width: 380px;
    max-width: 380px;
    width:48%;
    border: rgba(0,0,0,0.2) solid 1px;
    margin:4% auto;

}


.clientBalanceHeader{

    width:80%;
    margin:auto;

}

#userPermissionSettings, #clientSettingsDeleteUser{

    width:90%;
    margin:3% auto;
    border: rgba(0,0,0,0.2) solid 1px;
    overflow: auto;
    padding:2% 2% 2% 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#userPermissionSettings .settingsClientControlDiv{

    min-width: 17em;
    max-width: 17em;
    font-size: 80%;
    display: inline-block;
    margin:0px auto 2% 2%;
    float:none
}

#userPermissionSettings{

    text-align: center;

}


@media only screen and (max-width: 1300px){

    .settingsLeftTab button {
        margin-top: 0;
    }

    .settingsLeftTab{
        text-align: unset;
        padding:2% 0 2% 0;
        width:90%;
        height:5em;
        float:none;
        margin: 0 auto 2% auto;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
        white-space: nowrap;
        overflow-x: visible;
        overflow-y: hidden;

    }

    .settingsButtonClass:hover{

        border: rgba(0,0,0,0.2) solid 1px;
        width:20%;
        min-width:150px;

    }

    .settingsButtonClass{
        width:20%;
        min-width:150px;
        background: none;
        /*border: red solid 1px;*/
        float:none;
        display: inline-block;

    }

    .settingsRightTab {
        text-align: center;
        min-height: 40em;
        max-height: 40em;
        overflow: auto;
        padding:2% 0 2% 0;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
        width: 90%;
        float: left;
        margin-left: 5%;
        font-size: 1vw;

    }


    .settingsClientControlDiv, .settingsFileControlDiv{

        font-size: 1vw;
        display: inline-block;
        /*margin:0px auto 2% 2%;*/
        float:none;
        min-width: 280px;
        max-width: 320px;
    }

    p{
        font-size: 1.1vw;
    }
    li{
        font-size: 1.8vw !important;
    }

    .settingsRightTab button, .settingsPremium button {
        min-width: 200px !important;
    }
}

@media only screen and (max-width: 700px){

    .settingsRightTab {
        min-height: 80em;
        max-height: 80em;

    }

    p{
        font-size: 2vw;
    }



    .settingsClientControlDiv, .settingsFileControlDiv{

        font-size: 2vw;
    }

    #clientContactSupportType{
        font-size: 2vw !important;

    }


}


/* Messages */

.messageContainer{

    width: 100%;

}

.threads{

    width:30%;
    margin: 2% 1% 2% 2%;
    padding: 1% 0 1% 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    float:left;
    overflow: auto;
    max-height: 50em;
    min-height: 50em;
    border-radius: 8px 0px 0px 8px;
}

.thread{

    width:90%;
    margin:2% auto;
    float:none;
    padding:2% 2% 2% 2%;
    border: rgba(0,0,0,0.4) solid 1px;
    border-radius: 5px;
    cursor: pointer;

}

.emptyThread{
    margin: 100px;
    text-align: center;
    color: #AAA;
}

#threadMessage{

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;

}

.messages{

    width:65%;
    margin: 2% 2% 2% 0%;
    padding:2% 2% 2% 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    float:left;
    overflow: auto;
    max-height: 50em;
    min-height: 50em;
    border-radius: 0px 8px 8px 0px;
}

.blueMessageBox{

    width:95%;
    margin: auto;
    overflow: auto;
}

.blueMessageBox #messageDate{

   float: right;
   margin-top:5%;
   font-size: 0.8em;
}

.messageBlue{

    width:70%;
    border: #1193d4 solid 1px;
    float: right;
    border-radius: 5px;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 0 1%;

}

.greenMessageBox{

    width:95%;
    margin: auto;
    overflow: auto;

}

.greenMessageBox #messageDate{

    float: right;
    margin-top:5%;
    font-size: 0.8em;
}

.messageGreen{

    width:70%;
    border:rgba(0,0,0,0.5) solid 1px;
    float: left;
    border-radius: 5px;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 0 1%;
}

.threadHeader{

    width: 100%;

}

.threadHeader img{
    cursor: pointer;
    margin-left: 3%;
    width:10%;
}

.threadHeader input{
    cursor: pointer;
    margin-left: 3%;
}

#threadLastUpdatedDate{

    float:right;
    font-size: 0.7em;

}



@media only screen and (max-width: 1300px) {

    body {

        /*background-color: red;*/

    }

    .threads {

        width: 96%;
        clear: both;
        max-height: 13em;
        min-height: 13em;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
        padding: 0 0 0 0;
        margin-top: 5%;
        white-space: nowrap;

    }

    .messages {

        width: 96%;
        overflow: auto;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
        max-height: 25em;
        min-height: 20em;
        float: none;
        margin: 0 auto 5% auto;

    }

    .thread {

        width: 20%;
        margin: 4em 2px;
        float: none;
        padding: 1% 1% 1% 1%;
        border: rgba(0, 0, 0, 0.4) solid 1px;
        border-radius: 5px;
        cursor: pointer;
        min-width: 220px;
        display: inline-block;
    }

    .threadHeader{
        width:60%;
        position: fixed;
        clear:both;
    }
    .threadHeader img {
        cursor: pointer;
        margin-left: 1%;
        width: 3%;
        min-width:35px;
    }

    #threadLastUpdatedDate {

        font-size: 0.7em;
        clear: both;

    }


    .thread p{

        font-size: 0.8em;

    }


    #threadMessage {

        float: left;
        font-size: 0.8em;
        clear: both;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;

    }

    #threadTitle {

        float: left;
        clear: both;
        font-size: 0.8em;
    }

}

@media only screen and (max-width: 600px){

    .threads {

        margin-top: 10%;

    }


    .thread p{

        font-size: 0.9em;

    }
}

/**/

#Calendar{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#Calendar{
    width: 85%;
    cursor: default;
    margin: auto;
}
#Calendar .Months{
    text-align: center;
}
#Calendar .Month{
    display: inline-block;
    width:24%;
    height: auto;
    min-height: 250px;
    max-height: 250px;
    min-width: 270px;
    float: none;
    margin: 0.5% 0.5%;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}


.tooltipAppointment {
    position: relative;
    display: inline-block;

}

.tooltipAppointment .tooltipAppointmentText {
    visibility: hidden;
    width: 100%;
    background-color: rgba(17,147,212,0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltipAppointment:hover .tooltipAppointmentText {
    visibility: visible;
}


@media only screen and (max-width: 600px){
    #Calendar .Month{
        float:none;
        margin:1% auto;
    }

}
#Calendar .Days{
    margin: auto;
    width: 100%;
    padding-left: 4%;

}
#Calendar .Day{
    border:rgba(0,0,0,0.2) solid 1px;
    width:11%;
    float: left;
    margin: 0.5% 0.5%;
    border-radius: 4px;
}
#Calendar .Day:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#Calendar .Day:hover{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

#Calendar .YearEmptyDay{
    border: white solid 1px;
    width:11%;
    float: left;
    margin: 0.5% 0.5%;
    border-radius: 4px;
}
#Calendar #monthTitle{
    margin: auto;
    text-align: center;
    height: 30px;
}

#Calendar #pageTitleValue{
    margin: auto;
    height: 50px;
    width: 100%;
    text-align: left;
    font-size: 2em;
    padding-top: 10px;
}
#Calendar #buttons{
    float: right;
    width: 100%;
}
#Calendar .BigDayTitle{
    width: 14%;
    float: left;
    border: rgba(0,0,0,0.1) solid 1px;
    font-weight: 600;
    border-radius: 3px;
    text-align: center;

}
#Calendar #dayTitle0{
    border-left: grey solid 1px;
}
#Calendar .DayDay{
    border: rgba(0,0,0,0.1) solid 1px;
    border-radius: 5px;
    margin-bottom: -1px;
    width: 14%;
    height:120px;
    float: left;
    overflow: hidden;
}
#Calendar .DayDay:hover{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.19);
    cursor: pointer;

}
#Calendar .EmptyDay{
    border: white solid 1px;
    margin-bottom: -1px;
    width: 14%;
    height:80px;
    float: left;
}
#Calendar .appointmentTime{
    width: 30%;
    font-size: 0.8vw;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}

#Calendar .dayTitle{
    margin-top: auto;
    padding-right: 10%;
    font-size: 13px;
    text-align:right;
    width: 100%;
    float: left;
    height: 25px;
    color: rgb(60,147,207);

}
#Calendar .appointmentTitle{
    font-size: 0.8vw;
    text-align:center;
    width: 70%;
    float: left;
    padding-top: 5px;

}

#Calendar .appointmentsBox{
    float: left;
    height: 80%;
    width: 100%;
    overflow: auto;

}
#Calendar .appointmentBox{
    width: 80%;
    /*		   min-height: 20px;*/
    height: 2vw;
    overflow: hidden;
    margin: 2% auto;
    border-bottom: rgba(0,0,0,0.5) solid 1px;
    border-radius: 5px;
    cursor: pointer;

}
@media only screen and (max-width: 700px){
    #Calendar .appointmentTime{
        width: 0%;
        display: none;
    }
    #Calendar .appointmentTitle{
        text-align:center;
        font-size:70%;
        width: 100%;
    }
    #Calendar .appointmentBox{
        height: 4.5vw;
    }
}
#Calendar .appointmentBox:hover{
    border-bottom: rgba(0,255,255,0.8) solid 1px;

}

#Calendar .dayView{
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

#Calendar .dayNumber{
    width: 100%;
    height: 15px;
    overflow: hidden;
}


#Calendar .timeDiv{
    height: 30px;
    width: 100%;
    float: left;
}
#Calendar .timeTitle{
    width: 50px;
    min-width: 30px;
    height: 100%;
    margin-top: -8px;
    font-size: 0.8em;
    text-align: right;
    border-right: lightGray solid 1px;
    float: left;

}

#Calendar .appointmentViewOdd{
    margin-left: -1px;
    width: 100%;
    height: 30px;
    float: left;
}
#Calendar .appointmentViewEven{
    margin-left: -1px;
    width: 100%;
    height: 30px;
    background: rgb(240,240,240);
    float: left;

}
#Calendar .dayAppointments{
    margin-left: 50px;
    float: left;
    position: absolute;
    z-index: 110;
    width: 75%;
    height: 100%;
}
#Calendar .dayBackLines{
    position: absolute;
    margin-left: 51px;
    width: 75%;
    height: 100%;
}
#Calendar .dayAppointmentTitle{
    float: left;
    max-width: 50%;
    overflow: hidden;
    /*         background: rgba(60,145,205,0.8);*/
    padding-left: 1px;
    border: lightGray solid 1px;
    cursor: pointer;
    position: absolute;
    z-index: 90;
}

#Calendar .dayAppointmentTitle:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
#Calendar #appointmentTitleValue{
    font-size: 70%;
    text-align: center;
    margin-top: 0px;
    color: white;
    cursor: pointer;

}


 .calendarMenu {
    width: 200px;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display:none;
    position:absolute;
    border:1px solid #B2B2B2;
    background:#F9F9F9;
    /*          box-shadow: 3px 3px 2px #E9E9E9;*/
    border-radius:4px;
}
 .calendarMenuOptions {
    list-style:none;
    margin:0px;
    margin-top:4px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:3px;
    font-size:17px;
    color: #333333;
}


#Calendar hr {
    width: 85%;
    background-color:#E4E4E4;
    border-color:#E4E4E4;
    color:#E4E4E4;
}

#Calendar li{

    padding: 3px;
    padding-left:10px;
}
.calendarMenuOption {
    cursor: default;
}
.calendarMenuOption:hover {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius:2px;
}



.settingsPrivacySection{

    text-align: left;
    padding-left: 5%;
}

.settingsPrivacySection p{

    text-align: left;
    padding-left: 5%;
    margin:0;
}
.settingsTermsSection{

    text-align: left;
    padding-left: 5%;
}

.settingsTermsSection p{

    text-align: left;
    padding-left: 5%;
    margin:0;
}


.settingsContactUsSection{

    width:80%;
    margin: auto;
}