+prefix-classes(timegrid)
    .container
        height: 100%
        position: relative
        overflow: hidden
        overflow-y: scroll

    .container-split
        height: 100%
        position: relative
        overflow: hidden

    .left
        position: absolute

    .hour
        position: relative
        color: #555
        box-sizing: border-box
        &:first-child span
            display: none
        &:last-child
            border-bottom: none

    .hour span
        position: absolute
        top: -11px
        left: 0
        right: 7px
        text-align: right
        line-height: 25px

    .right
        position: relative

    .gridline
        border-bottom: 1px solid #eee
        box-sizing: border-box
        &:last-child
            border-bottom: none

    .schedules
        position: absolute
        wh(100%, 100%)
        pos(0, 0)
        cursor: pointer

    // Hourmarker
    .hourmarker
        position: absolute
        width: 100%
        z-index: 98

    .hourmarker-wrap
        position: relative

    .hourmarker-line-left
        position: absolute
        min-height: 1px
        left: 0

    .hourmarker-line-today
        position: absolute
        min-height: 1px

    .hourmarker-line-right
        position: absolute
        min-height: 1px
        right: 0

    .hourmarker-time
        position: absolute
        width: 52px
        left: -60px
        top: -6px
        line-height: 12px
        text-align: right

    // Todaymarker
    .todaymarker
        position: absolute
        text-indent: -9999px
        wh(9px, 9px)
        background-color: #1193d4
        margin: -4px 0 0 -5px
        border-radius: 50%
        z-index: 99

+prefix-classes(time)
    .date
        position: absolute
        height: 100%
        margin-left: -1px
        box-sizing: content-box
        &:last-child
            border-right: none
            margin: 0
            // last creation guide element
            .schedule,
            .guide-creation
                left: 0px

    .date-schedule-block-wrap
        position: relative
        height: 100%

    .date-schedule-block
        position: absolute
        right: 0px

    .date-schedule-block-pending
        opacity: 0.7

    .date-schedule-block-dragging-dim
        opacity: 0.3

    .date-schedule-block-focused
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2)

    .date-schedule-block-cover
        position: absolute
        top: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.2)
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);

    .schedule
        position: relative
        left: 1px
        height: 100%
        font-size: 12px
        overflow: hidden
        border-left-width: 3px
        border-left-style: solid
        font-weight: bold
        padding: 1px 0 1px 3px

    .resize-handle
        position: absolute
        right: 0px
        bottom: 0px
        left: 0px
        height: 5px
        text-align: center
        color: #fff
        cursor: row-resize
        background-position: center top

    // Guide element
    .guide-creation
        position: absolute
        right: 10px
        left: 1px
        padding: 3px

    .guide-move,
    .guide-resize
        .schedule,
        .resize-handle
            opacity: 0.8
            z-index: 97

    .guide-creation-label
        cursor: default

    .guide-bottom
        position: absolute
        bottom: 3px
